
    h2 {
        color : black;
        font-size: 30px;
        text-align: center;
    }
    body {
        width : 500px;
        /* border : 1px solid black; */
        margin : 10px auto;
        height : 500px;
        box-shadow: 0 5px  10px -5px; /*그림자 줄때 쓰는거 */
        
    }
     /* .delete {
        border: 1px solid skyblue;
        background-color: rgba(0,0,0,0);
        color: skyblue;

     } */
    #line {
        /* outline : none;
        border : none; */
        border : 1px solid black;
        width : 80%;
        height : 30px;
        flex : 2;
    }
    #blue {
        width : 80px;
        height : 35px;
        border-radius:20px;
        background-color: cornflowerblue;
        color : white;
        /* flex : 1; */
    }
    form {
        display : flex;
    }
    #boss > div {
        display : flex;
    }
    #boss > div > span {
        flex : 0.97;
    }