        h2 {
        color : black;
        font-size: 30px;
        text-align: left;
    }
    .delete {
        position : relative;
        right : -245px;
    }
    #line {
        outline : none;
        border : none;
        border-bottom: 1px solid black;
        width : 40%;
        height : 30px;
        float : left;
    }
    #blue {
        width : 80px;
        height : 35px;
        border-radius:20px;
        background-color: cornflowerblue;
        color : white
    }